<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Edit Movie', customCSS='/products.css')"></head>
<header th:replace="fragments/header.html"></header>
<body>
<h1>Opret ny kunde</h1>
<div>
    <!-- "method" fortæller hvordan form-data skal sendes til en side som er specificeret i "action", altså createCustomer siden. -->
    <form action="/create-product" method="post">
            <!-- nedenstående gør vi brug af input type "text" hvor name er det field, som vi ønsker at redigere i, og placeholderen er den tekst, som står i tekstfeltet -->
            <label>
                Indtast navn<input type="text" name="name" placeholder="Navn">
            </label>
            <label>
                Indtast pris<input type="text" name="price" placeholder="Pris">
            </label>
            <div class="create-product">
                <!-- button er en knap, hvor vi kan specificere "value" af knappen -->
                <button type="submit" value="Create new customer">Opret produkt</button>
            </div>
        </div>
    </form>
</div>
</body>
<footer th:replace="fragments/footer.html"></footer>
</html>