.grid {
    display: grid;
    place-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "movie movie"
    "date date"
    "cin1 cin2";
}

.movie { grid-area: movie; }

.date { grid-area: date; }

.cin1 { grid-area: cin1; }

.cin2 { grid-area: cin2; }
