<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html(currentPage='screenings', customCSS='seat-selection.css')"></head>
<body>

<form action="/selectedSeats" method="post">
<table>
    <tr th:each="i: ${#numbers.sequence(1, maxRow)}">
        <td>
            <span th:text="${i}"/>
        </td>
        <td th:each="a: ${#numbers.sequence(1, maxSeatNum)}">
            <span th:text="${a}"/>
            <span th:each="seat: ${seats}">
                <span th:if="${seat.rownumber} == ${i}">
                    <span th:if="${seat.seatnumber} == ${a}">
                        <span th:text="${seat.idseats}"/>
                        <input type="checkbox" th:name="${seat.idseats}"/>
                    </span>
                </span>
            </span>
        </td>
    </tr>
</table>
    <input type="submit"/>
</form>


</body>
</html>