<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Movie</title>
</head>
<body>
<form th:action="@{/searchMovie}">
    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</form>

<tr th:each="fil : ${film}">
    <td th:text="${fil.idmovies}"></td>
    <td th:text="${fil.title}"></td>
    <td th:text="${fil.price}"></td>
    <td th:text="${fil.length}"></td>
</tr>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>
</body>
</html>