<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="">
    <!-- "method" fortæller hvordan form-data skal sendes til en side som er specificeret i "action", altså createCustomer siden. -->
    <form action="/createMovie" method="post">
        <div class="">
            <!-- nedenstående gør vi brug af input type "text" hvor name er det field, som vi ønsker at redigere i, og placeholderen er den tekst, som står i tekstfeltet -->
            <label>
                Enter title<input type="text" name="title" placeholder="Title">
            </label>
            <label>
                Enter price<input type="text" name="price" placeholder="Price">
            </label>
            <label>
                Enter length<input type="text" name="length" placeholder="Length">
            </label>
            <label>
                Enter age<input type="text" name="age" placeholder="Age">
            </label>
            <label>
                Enter genre<input type="text" name="genre" placeholder="Genre">
            </label>
            <label>
                Enter description<input type="text" name="description" placeholder="Description">
            </label>
            <label>
                Enter actors<input type="text" name="actors" placeholder="Actors">
            </label>
            <label>
                Enter movie poster<input type="text" name="movieposter" placeholder="Movie poster">
            </label>
            <div class="">
                <!-- button er en knap, hvor vi kan specificere "value" af knappen -->
                <button type="submit" value="Create new movie">Create new movie</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>