<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
<h2>Kundens oplysninger</h2>

<form th:action="@{/create-customer}" method="POST">
    <input type="text" placeholder="Fornavn" name="firstname"/>
    <input type="text" placeholder="Efternavn" name="lastname"/>
    <input type="number" placeholder="Telefonnummer" name="phonenumber"/>
    <input type="email" placeholder="Email" name="email">
    <button type="submit">Send</button>
</form>



</body>
</html>