<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:replace="fragments/header.html"></header>
<body>
<div class="">
    <!-- "method" fortæller hvordan form-data skal sendes til en side som er specificeret i "action", altså createCustomer siden. -->
    <form action="/create-movie" method="post">
        <div class="">
            <!-- nedenstående gør vi brug af input type "text" hvor name er det field, som vi ønsker at redigere i, og placeholderen er den tekst, som står i tekstfeltet -->
            <label>
                Titel<input type="text" name="title" placeholder="F.eks. James Bond">
            </label>
            <label>
                Pris<input type="text" name="price" placeholder="Pr. billet">
            </label>
            <label>
                Varighed<input type="text" name="length" placeholder="I minutter">
                <a>minutter</a>
            </label>
                <label for="age">C:</label>

                <select id="age">
                    <option label="Tilladt for alle"></option>
                    <option label="Frarådes børn under 7 år"></option>
                    <option label="Tilladt for børn fra 11 år"></option>
                    <option label="Tilladt for børn fra 15 år"></option>
                </select>
            <label>
                Genre<input type="text" name="genre" placeholder="Genre">
            </label>
            <label>
                Info<input type="text" name="description" placeholder="Description">
            </label>
            <label>
                Skuespillere<input type="text" name="actors" placeholder="Actors">
            </label>
            <label>
                Plakat<input type="text" name="movieposter" placeholder="Movie poster">
            </label>
            <div class="">
                <button type="submit" value="Create new movie">Create new movie</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>