<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html"></head>
<header th:replace="fragments/header.html"></header>
<body>
<p>our movie:</p>
<h1 th:text="${movie.title}"></h1>

<p>screening this day:</p>

<ul th:each="screening : ${screenings}">

    <li>
        <div>
            <h3 th:text="'Movie: ' + ${screening.movies_idmovies}"></h3>
        </div>
    </li>
    <li>
        <div th:switch="${screening.timeslot}">
            <h3 th:case="'1'">Tidspunkt: 12:00 </h3>
            <h3 th:case="'2'">Tidspunkt: 14:45 </h3>
            <h3 th:case="'3'">Tidspunkt: 17:30 </h3>
            <h3 th:case="'4'">Tidspunkt: 20:15 </h3>
        </div>
    </li>
    <li>
        <div>
            <h3 th:text="'Sal: ' + ${screening.cinemas_idcinemahall}"></h3>
        </div>
    </li>
</ul>


<form action="/create-screening" method="post">
    <div class="screening-grid">

        <input type="hidden" name="movies_idmovies" th:value="${movie.getIdmovies()}">
        <input type="date" id="start" name="date">
        <input type="hidden" name="time" th:value="${1}">
        <input type="hidden" name="cinemas_idcinemahall" th:value="${2}">

        <button type="submit" class="buttonClass" value="Create new movie">Opret film</button>
    </div>
    </div>
</form>

</body>
<footer th:replace="fragments/footer.html"></footer>
</html>