<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<header>
   <p>Logo</p>
</header>

<div class="container">
    <div class="movie-picture">
        <img th:src="${film.movieposter}"/>
    </div>
    <div class="movie-information">
        <h1 th:text="${film.title}"></h1>

        <div class="movie-grid">
            <div class="movie-price">
                <h2>Pris:</h2>
                <span th:text="${film.price}"></span>
            </div>

            <div class="movie-age">
                <h2>Alder:</h2>
                <span th:text="${film.age}"></span>
            </div>

            <div class="movie-length">
                <h2>Varighed:</h2>
                <span th:text="${film.length}"></span>
            </div>

            <div class="movie-genre">
                <h2>Genre:</h2>
                <span th:text="${film.genre}"></span>
            </div>
        </div>

        <div class="movie-description">
            <h2>Info:</h2>
   <p th:text="${film.description}"></p>
        </div>

    </div>
</div>

</body>
</html>