<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:replace="fragments/header.html"></header>
<body>
<div>
    <h1>Alle Film:</h1>
    <ul th:if="${movies.empty}">
        <li colspan="2"> Ingen film tilgængelig </li>
    </ul>
    <ul th:each="singleMovie : ${movies}">
        <form  th:action="@{'/movies/'+${singleMovie.idmovies}}">
            <button type="submit">

                <img class="poster" alt="No Poster Found" style="float:left" width="180" height="260" th:src="${singleMovie.movieposter}"/>
                <span th:text="'Titel: '"/><b th:text="${singleMovie.title}"/><br/>
                <span th:text="'Varighed: '"/><b th:text="${singleMovie.length}"/><br/>
                <span th:text="'Beskrivelse: '"/><b th:text="${singleMovie.description}"/><br/>
                <span th:text="'Genre: '"/><b th:text="${singleMovie.genre}"/>
            </button>
        </form>
    </ul>
</div>
</body>
</html>