<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<header th:replace="fragments/header.html"></header>
<body>

<div class="container">
    <div class="movie-picture">
        <img th:src="${film.movieposter}"/>
    </div>
    <div class="movie-information">
        <div class="movie-titel">
            <h1 th:text="${film.title}"></h1>
            <a th:href="@{'/movies/' + ${film.idmovies} + '/edit'}">
                <i class="fas fa-pencil-alt"></i>
            </a>

        </div>

        <div class="movie-grid">
            <div class="movie-price">
                <h2>Pris:</h2>
                <span th:text="${film.price}"></span>
            </div>

            <div class="movie-age">
                <h2>Alder:</h2>
                <span th:text="${film.age}"></span>
            </div>

            <div class="movie-length">
                <h2>Varighed:</h2>
                <span th:text="${film.length}"></span>
            </div>

            <div class="movie-genre">
                <h2>Genre:</h2>
                <span th:text="${film.genre}"></span>
            </div>

            <div class="movie-actors">
                <h2>Skuespillere:</h2>
                <span th:text="${film.actors}"></span>
            </div>
        </div>

        <div class="movie-description">
            <h2>Info:</h2>
   <p th:text="${film.description}"></p>
        </div>

    </div>
</div>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>